version: "3.8"

services:
  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
      - "443:443"
    configs:
      - source: nginx_config
        target: /etc/nginx/nginx.conf
    networks:
      - smt-net
    deploy:
      replicas: 3
      placement:
        constraints:
          - node.role == worker
    healthcheck:
      test: ['CMD', 'wget', '--no-verbose', '--tries=1', '--spider', 'http://127.0.0.1/nginx-health']
      interval: 30s
      timeout: 5s
      retries: 3
    depends_on:
      - smt-server

  smt-server:
    image: 192.168.65.3:5000/smt-server:dev
    env_file:
      - .env
    environment:
      SPRING_PROFILES_ACTIVE: dev
      SYSTEM_DATABASE_SEEDER_ENABLED: 1
      SECURITY_JWT_SECRET_KEY: ${SECURITY_JWT_SECRET_KEY}
      SYSTEM_USER_DEFAULT_PASSWORD: ${SYSTEM_USER_DEFAULT_PASSWORD}
      SPRING_DATA_MONGODB_URI: mongodb://dev:dev123@192.168.65.3:27017/dev-smt-db?authSource=admin&connectTimeoutMS=30000&serverSelectionTimeoutMS=30000
      JAVA_OPTS: -Xms256m -Xmx512m -XX:+UseContainerSupport -XX:MaxRAMPercentage=75.0
    networks:
      - smt-net
    deploy:
      replicas: 9
      placement:
        max_replicas_per_node: 3
        constraints:
          - node.role == worker
    healthcheck:
      test: ['CMD', 'curl', '-f', 'http://localhost:8080/api/v1/health']
      interval: 30s
      timeout: 10s
      retries: 3
    depends_on:
      - mongo

  mongo:
    image: mongo:8.0.15-noble
    ports:
      - "27017:27017"
    volumes:
      - mongodata:/data/db
      - ./mongo:/docker-entrypoint-initdb.d
    environment:
      MONGO_INITDB_ROOT_USERNAME: dev
      MONGO_INITDB_ROOT_PASSWORD: dev123
    networks:
      - smt-net
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.role == manager
    healthcheck:
      test: ["CMD-SHELL", "mongosh --username dev --password dev123 --authenticationDatabase admin --eval 'db.runCommand(\"ping\").ok' --quiet"]
      interval: 30s
      timeout: 10s
      retries: 5

configs:
  nginx_config:
    file: ./nginx.conf

volumes:
  mongodata:

networks:
  smt-net:
    driver: overlay
    attachable: true
    ipam:
      config:
        - subnet: 10.0.9.0/24