# Server
server.port=8080

# Spring
spring.application.name=smt_backend
spring.jackson.time-zone=America/Sao_Paulo

# MongoDB
spring.data.mongodb.uri=mongodb+srv://<username>:<password>@<cluster-url>/<database-name>?retryWrites=true&w=majority&appName=<app-name>
spring.data.mongodb.auto-index-creation=true

# JWT (expiration time set to 6 months)
security.jwt.expiration-time=15778800000
security.jwt.secret-key=<jwt_secret_key_here>

# System user
system.user.default-password=<your_default_user_password>

# Logging
logging.level.root=INFO

# Setting MongoDB drive to only log errors.
logging.level.org.mongodb.driver=ERROR

# The system uses a custom configuration for the authentication provider and this is triggering a warning log, 
# so we're disabling it by setting the level to ERROR.
logging.level.org.springframework.security.config.annotation.authentication.configuration.InitializeUserDetailsBeanManagerConfigurer=ERROR

# There's a dependency from a library that is triggering a warning log, 
# so we're disabling it by setting the level to ERROR.
logging.level.org.springframework.data.convert.CustomConversions=ERROR