# Server
server.port=8080
server.tomcat.max-http-form-post-size=2097152 # 2mb
spring.application.name=smt_backend
spring.jackson.time-zone=America/Sao_Paulo

# MongoDB
spring.data.mongodb.uri=mongodb://localhost:27017/
spring.data.mongodb.database=smt-db
spring.data.mongodb.auto-index-creation=true

# JWT
security.jwt.expiration-time=<jwt_expiration_time_here>
security.jwt.secret-key=<jwt_secret_key_here>

# System user
system.user.default-password=<your_default_user_password>

# Logging
logging.level.root=INFO
logging.level.org.mongodb.driver=WARN

logging.level.org.springframework.security=WARN
logging.level.org.springframework.security.config.annotation.authentication.configuration.InitializeUserDetailsBeanManagerConfigurer=ERROR

logging.level.org.springframework.data.convert.CustomConversions=ERROR